.main{
    width: 55em;
    margin: auto;
    margin-top: 1%;
}

.kingdom{
    width: 100%;
    border-width: 5px;
    text-align: center;
}

.screen{
    width: 55em;
    text-align: center;
    margin-top: 2%;
}

.chat{
    float: left;
    width: 11.2em;
    margin-right: 0.5em;
    height: 31.5em;
}

.chat-body{
    text-align: left;
    height: 93%;
    padding: 2%;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 0.9em;
}

.canvas-div{
    float: left;
}


.kingdom-list{
    float: right;
    width: 11.2em;
    height: 31.5em;
    margin-left: 0.5em;
}

.vertical-menu {
    text-align: left;

}
  
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    height: 3.1em;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a span{
    float: right;
    font-weight: bold;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
    text-align: center;
}
